.arv-star-drop{width: 100px;height: 100px;position: absolute;z-index: 10;display: none;top: 200px;}
.arv-star-drop i{font-size:100px;color: #f3cc00;}
.list-star-div{display: flex;justify-content: center;align-items: center;}
.starred-rec-heading{text-align:center;color: #66598f;font-size:18px;padding-bottom:6px;padding-top:6px;border-bottom: 1px solid #ccc;}
.star-rec-model{color: #bb2d2d;float: right;text-align:right;font-size: 12px;}
.star-rec-table {width: 100%;border-collapse: collapse;height:3rem;font-family:sans-serif;}
.star-rec-table tr {border-bottom: 1px solid #ccc;height:3rem;}
.star-rec-table tr:hover {background-color: #f0f0f0; }








